---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  font-family: "IBM Plex Mono",
               ui-monospace,
               SFMono-Regular,
               Menlo,
               Consolas,
               "Liberation Mono",
               monospace;
  line-height: 1.6;
  font-size: 16px;
}
